<!DOCTYPE html>
<html lang = "en">
<head>
  <meeta charset = "UTF-8">
  <title> Test web Stire </title>
</head>
<body>
    <h>운송 시작</h>
    <br><br>
      <form method = "POST">
      <div>
        <label for = "orderDate"> 주문일자 </label>
        <h> "<%=date%>" </h>
        <br><br>
        <label for = "delieveryLocation"> 배송지 </label>
        <h> "<%=location%>" </h>
        <br><br>
        <label for = "time"> 시간 </label>
        <h> "<%=time%>" </h>
        <br><br>
        <label for = "driver"> 운전자 </label>
        <h> "<%=driver%>" </h>
        <br><br>
        <label for = "fork"> 돼지고기 </label>
        <h> "<%=fork%>" </h>
        <label for = "kg"></label>
        <h> "<%=forkKg%>" KG</h>
      </div>
      <br>
        <button type="submit">확인</button>
      </form>
</body>
</html>
